<div class="row">
    <div class="col-md-9">
        <div class="poster">
            <h1 style="margin-top: 0;margin-bottom: 20px">Welcome to Pinegrow 5</h1>
            <p style="margin-top: 0;margin-bottom: 20px">The new major Pinegrow upgrade is here! The focus of Pinegrow 5 is making common HTML &amp; CSS editing tasks more effecient:</p>
            <ul>
                <li>Focus on editing elements in isolation from the rest of the page.</li>
                <li>Better handling of inline styles &amp; other styling improvements.</li>
                <li>Drag files from the Project panel.</li>
                <li>Filter the Tree panel structure.</li>
                <li>And more!</li>
            </ul>
            <p style="  margin-top: 20px"><a class="btn external btn-lg btn-primary" href="https://pinegrow.com/blog/introducing-pinegrow-5/">Introduction to Pinegrow 5 »</a></p>
        </div>
    </div>
</div>